/* Header Section-Navbar */
#nav_header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 18vh;
   z-index: 200;
   border-bottom: solid 1px var(--border-color);
   background-color: #fff;
   padding: var(--points);
}

.container {
   padding: 0 48px;
}

.flex_nav {
   display: flex;
}

.header_primary {
   padding: 10px;
   flex: 1;
   font-size: var(--points);
   font-weight: 500;
   text-align: center;
   line-height: 1.8;
}

.list {
   display: flex;
}

.list_item {
   list-style: none;
   margin: 0 8px;
}

.list_item a {
   display: inline-block;
}

.list_item a span {
   display: inline-block;
   padding: 8px 16px;
}

.header_logo span {
   display: block;
}

.header_logo span img {
   width: 20vw;
}

.header_account {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex: 1;
}

.login {
   display: block;
}

.view_cart img {
   width: 2vw;
}

.count {
   background-color: var(--button-color);
   color: #fff;
   padding: 10px;
   font-size: var(--points);
   border-radius: 100px;
   border-style: none;
}

/* Main Section */
main {
   padding: 100px 0;
}

/* About Section */
.about {
   align-items: center;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(../assets/home.jpg);
   background-size: cover;
   flex-direction: column;
   min-height: 30vh;
   margin-bottom: 48px;
   position: relative;
   padding: 48px 0;
}

.about_heading {
   position: absolute;
   z-index: 1;
   background-color: #000;
   padding: var(--points);
}

.about_heading h1 {
   color: #fff;
}

.about_para {
   max-width: 600px;
   line-height: 1.875;
   text-align: center;
   margin: 0 auto;
}

/* Product Section */
.grid_container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto;
   row-gap: 72px;
   max-width: 80vw;
   margin-left: auto;
   margin-right: auto;
}

.product_card {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   text-align: center;
}

.product_image {
   position: relative;
}

.product_image img {
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.product_name {
   font-weight: bold;
}

.product_price {
   padding: 12px;
}

.add_cart button {
   display: inline-flex;
   align-items: center;
   background-color: var(--button-color);
   border: solid 2px var(--button-color);
   color: #fff;
   justify-content: center;
   min-width: 152px;
   padding: 18px 30px;
   margin-bottom: 12px;
   margin-top: 12px;
}

/* Cart Section */
#cart_container {
   visibility: hidden;
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   object-fit: cover;
   width: 100%;
   height: 100%;
   z-index: 700;
}

.background {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   opacity: 0.8;
   background-color: rgba(17, 17, 17, 0.7);
}

.cart_layout {
   transform: translateX(0);
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   display: flex;
   flex-direction: column;
   max-width: 500px;
   height: 100%;
   width: 100%;
   background-color: #fff;
}

.js_container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 96px;
   padding: 24px 26px;
   width: 100%;
}

.js_container h1 {
   background-color: #111;
   color: #fff;
   padding: 12px 24px;
   font-size: 1.25rem;
   text-align: center;
}

.add_products {
   flex: auto;
   overflow-y: auto;
   width: 100%;
   padding: 40px 32px 40px 22px;
}

.add_products h3 {
   text-align: center;
   font-size: 2em;
}

.price {
   font-size: 32px 40px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   height: 96px;
   padding-left: var(--points);
   background-color: var(--button-color);
}

.price div {
   color: #fff;
   font-size: 1.5rem;
   padding: var(--points);
}

/* After AddedItems to the cart*/
.addedCartItems {
   display: grid;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: 1fr;
   padding: var(--points);
}

.adding_count {
   padding: var(--points) 0;
   display: flex;
   flex-direction: row;
}

.adding_count button {
   flex-grow: 1;
}

.adding_count p {
   flex-grow: 1;
   text-align: center;
   justify-content: center;
   align-items: center;
   border: 2px solid var(--border-color);
   padding: 10px;
   font-size: 1.25rem;
}

.delete_button img {
   width: 1vw;
}
